<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>小说搜索阅读.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B120E2231DA9E72800921288</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B120E2371DA9E72800921288</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B120E2421DA9E72800921288</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
